<div class="row header"><h1>Concert</h1></div>
<div class="row frame">

<div class="row concert-display">
	<div class="col-sm-4"><img class="concert-poster" src="<%= @concert.poster %>">
	</div>
	<div class="col-sm-8">
		<div><%= @concert.artist %></div>
		<div><%= @concert.venue %></div>
		<div><%= @concert.description %></div>
		<div><%= @concert.date %></div>
		<div><%= @concert.city %></div>
		<div><%= @concert.price %></div>
		<div><%= @concert.poster %></div>
	</div>
<div>